button {
	font: 450% Tahoma, Arial, Verdana, sans-serif;
	color: #fff; background-color: #00000s;
	border: 1px solid #0074a5;
	border-top: 1px solid #004370;
	border-left: 1px solid #004370;
	cursor: pointer;
}
