/*

=========Colors to use==========
#395dba		Background Blue
#39b4e3		Backgrond blue secondary
#44edfe		Light blue  1
#001d46		Dark blue 1
#224e8c		Dark blue 2
#515a79		Dark blue 3
#5d7699		Blue 1
#374665		Blue 2
#f8ff00		Button Yellow

#1d243f		Form blue top gradient left
#363c53		Form blue top gradient right
#535b7a		Form blue middle
#2b3755		Form blue bottom


#7e855a		Button top selected
#565e52		Button bottom selected

#a0bcdb		Button top clicked
#778ea8		Button bottom clicked

*/

* {
	color: white;
}

.form_style_small{
	margin: auto;
	text-align: center;
	padding: 20px; 
	height: auto; 
	color: white;
}




input[type=button], input[type=submit], input[type=reset] {
	background-image: linear-gradient(#515a79, #374665);
    color: white;
    font-family: BurSmlBold;
    font-size: 16px;

    border: 2px solid #5d7699;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;

    -webkit-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;  
    -o-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
	background-image: linear-gradient(#7e855a, #565e52);
	border: 2px solid #ffff60;
    padding: 10px 25px;
}

input[type=button]:active , input[type=submit]:active, input[type=reset]:active{
	background-image: linear-gradient(#a0bcdb, #778ea8);
	border: 2px solid #5d7699;
}

input[type=text]{
	font-family: BurSmlBold;
	font-size: 25px;
	color: #001d46;
	width: 50%;
    border: 2px solid #224e8c;
    border-radius: 4px;
    -webkit-transition: width 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out;  
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
}

input[type=text]:focus{
    width: 55%;
}

@font-face {
  font-family: BurSmlMed;
  src: url("font/BurbankSmall-Medium.otf");
}

@font-face {
  font-family: BurSmlBold;
  src: url("font/BurbankSmall-Bold.otf");
}

@font-face {
  font-family: BurSmlBlack;
  src: url("font/BurbankSmall-Black.otf");
}

@font-face {
  font-family: BurBigConBold;
  src: url("font/BurbankBigCondensed-Bold.otf");
}

@font-face {
  font-family: BurBigConBlack;
  src: url("font/BurbankBigCondensed-Black.otf");
}